*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:slateblue;
}
.container{
    background-image: linear-gradient(to bottom right, #0278AE, #F6F6F6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px auto 0;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 10px 20px 10px;
    border-radius: 15px;
}
.searchBar{
    display: flex;
    justify-content: space-between;
    input {
       width: 80%;
       border-radius: 15px;
       border: 0;
       outline: 0;
       padding: 10px;
    }
    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        outline: 0;
        img{
         max-height: 20px;
         max-width: 20px;
        }       
    }
}
.result{
    display: none;
}
.weatherResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    #cityResult{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 25px;
        margin-bottom: 15px;
    }
    #pictResult{
        height: 150px;
        width: 150px;
    }
    #tempResult{
        font-family:monospace;
        color: white;
        font-size: 50px;
    }
    #weather{
        font-family: sans-serif;
        color: white;
        font-size: 25px;
    }
}
.detail{
    display: flex;
    justify-content: space-between;
    t{
        font-family: sans-serif;
        color: white;
        font-size: 15px;
    }
}
.avg{
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}